
/* ========================Fonts=============================== */

@font-face {
    font-family: "Cuprum";
    src:
        url("..//fonts/cuprum.woff2") format("woff2"),
        url("..//fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbold.woff2") format("woff2"),
        url("..//fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbolditalic.woff2") format("woff2"),
        url("..//fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumitalic.woff2") format("woff2"),
        url("..//fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsans.woff2") format("woff2"),
        url("..//fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsansbold.woff2") format("woff2"),
        url("..//fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* ===========================Variables======================== */

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #020202;
    --basic-background: #F1F5F7;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;

    --dark-grey: #293449;
    --dark-blue: #32425C;
    --headline-yellow: #F9F5F0;
    --pale-grey: #A9A9A9;
    --focus-blue: #161D29;
    --focus-grey: #C5C5C5;
    --focus-dark: #1D2739;
    --social-dark: #212A3A;
    --button-hover: #CA2C37;

    --border-grey: #EAEAEA;
    --border-red: #EE3643;

    --background-grey: #F4F4F4;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

/* ===========================Global======================== */

body {
   min-width: 960px;
   padding: 0;
   margin: 0;

   font-family: "Cuprum", Arial, sans-serif;
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   color: var(--basic-black);
}

a, a:hover, a:focus {
    /* cursor: default; */
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.headline {
    display: none;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    cursor: default;
    text-transform: uppercase;
    border:none;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:focus {
    background-color: var(--error);
}

input {
    outline: none;
}




/* ===========================Header======================== */

.header {
    font-size: 18px;
    background-color: var(--basic-background);
}

.header__checkout {
    color: var(--basic-white);
    background-color: var(--dark-grey);
}

.header__checkout a {
    color: var(--basic-white);
}




.header__form-search {
    color: var(--basic-white);
}


.search-input {
    background-color: var(--dark-grey);
    border: none;
}

.search-input:focus {
    background-color: var(--basic-white);
    border: none;
}

.search-input::-ms-clear {
    width: 0;
    height: 0;
    display: none;
}

.search-input::placeholder {
    color: var(--basic-white);
}

.search-input::placeholder:focus {
    color: var(--basic-black);
}






.header__bookmarks {

}

.header__bookmarks a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--focus-blue);
}



.header__order a {
    background-color: var(--basic-green);
}

.header__order a:hover {
    background-color: var(--success);
}

.header__order a:focus {
    color: rgba(255, 255, 255, 0.5);
}




.header__subject {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-transform: none;
    color: var(--basic-red);
}
.header__contact-info {
    font-size: 14px;
    text-align: center;
    text-transform: none;
    color: var(--dark-blue);
}

.header__contact-info a,
.header__contact-info a:focus {
    color: var(--basic-red);
}

.header__tel {
    font-size: 21px;
    line-height: 31px;
    font-weight: 700;

    border: 3px solid var(--basic-white);
}



.header__sign {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
}

.header__sign a {
    color: var(--basic-black);
}

.header__sign a:hover {
    color: var(--basic-red);
}

.header__sign a:focus {
    color: var(--focus-grey);
}





.header__sign-button {
    background: var(--basic-white)
}



.site-navigation {
    list-style: none;
    background-color: var(--dark-blue);
    color: var(--basic-white);
    border-bottom: 5px solid var(--dark-grey);
}

.site-navigation a {
    color: var(--basic-white);
}

.site-navigation a:hover {
    background-color: var(--dark-grey);
}

.site-navigation a:focus {
    background-color: var(--focus-dark);
    opacity: 0.5;
}

/* ===========================Features======================== */

.features {
    color: var(--basic-white);
}

.features__list {
    list-style: none;
}
.features__item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}


.features__item_yellow {
    background-color: var(--special-ylellow);
}

.features__item_blue {
    background-color: var(--special-blue);
}

.features__item_lilac {
    background-color: var(--special-lilac);
}

.features__item_greenlight {
    background-color: var(--special-greenlight);
}



.features__button {

}

.features__button a {
    padding: inherit;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.3);
}

.features__button a:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.features__button a:focus {
    background-color: rgba(169, 169, 169, 0.3);
}

.features__link {
    text-transform: uppercase;
}

.features__title h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.features__title p {
    font-size: 18px;
    line-height: 24px;
}


.features__img {

}

/* ===========================Goods======================== */

.goods {

}

.section__header {
    background-color: var(--headline-yellow);
}

.section__header h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.goods__list {
    list-style: none;
}

.item {
    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid var(--border-grey);
}

.item__link h4 {
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.item__old-price {
    font-size: 17px;
    line-height: 18px;
    color: var(--pale-grey);

    text-decoration: line-through;
}
.item__button {
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* ===========================Producers======================== */

.producers {

}
.producers__list {
    list-style: none;
}
.producers__item {
    border: 1px solid var(--border-grey);
}

.brand-image {

}

/* ===========================Services======================== */

.services {
    text-transform: none;
    background-color: var(--basic-background);
}
.services__text {
}

.services__text h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}


/* Шрифты для р не работают. Не могу понять почему */
.services__text p {
    font-family: "PT Sans" Arial, sans-serif;
}

.services__options-nav {
    background-color: var(--dark-blue);
}

.services__options-nav a {
    color: var(--basic-white);
}

.services__options-nav a:hover {
    background-color: var(--dark-grey);
}







.services__options-item {
    font-size: 21px;
    font-family: 30px;
    font-weight: 700;
    border-top: 1px solid ;
}

.services__option {

}

.services__option h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    color: var(--dark-blue);
}

.services__option p {
    font-family: "PT Sans" Arial, sans-serif;
}

/* ===========================Company======================== */

.company {
    text-transform: none;
}

.company p {
    font-family: "PT Sans" Arial, sans-serif;
}

.company h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}
.company__info {
}

.company__list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}

.company__contacts {
}
.company__map {
}
.company__modal {
}
.company__form {
    border-top: 7px solid var(--border-red);
}
.company__form-item {
    border: none;
}

.company__form-label {
    font-size: 18px;
}

.company__modal input {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);
    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.company__modal textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);
    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.button-area {
    background-color: var(--background-grey);
}
/* ===========================Footer======================== */

.footer {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.footer__navigation {
    background-color: var(--dark-blue);
}

.footer__navigation a {
    color: var(--basic-white);
}


.footer__address {
}
.footer__logo {
}
.footer__tel {
}


.footer__nav {
}
.nav-list {
    list-style: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list a:focus {
    opacity: 0.5;
}


.nav-list_colored a {
    color: var(--special-yellowlight);
}

.footer__social-list {
    list-style: none;
}

.footer__social-item a {
    background-color: var(--social-dark);
    border-radius: 50%;
}

.footer__social-item a:hover {
    background-color: var(--basic-red);
}

.footer__social-item a:focus {
    background-color: var(--basic-red);
}


.footer__feedback {
    background-color: var(--dark-grey);
}

.footer__feedback p {
    font-size: 16px;
    line-height: 18px;
}

.footer__feedback a {
    color: var(--special-yellowlight)
}

.footer__feedback a:hover {
    text-decoration: underline;
}

.footer__feedback a:focus {
    color: var(--basic-red);
}
