
/* ========================Fonts=============================== */

@font-face {
    font-family: "Cuprum";
    src:
        url("..//fonts/cuprum.woff2") format("woff2"),
        url("..//fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbold.woff2") format("woff2"),
        url("..//fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbolditalic.woff2") format("woff2"),
        url("..//fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumitalic.woff2") format("woff2"),
        url("..//fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsans.woff2") format("woff2"),
        url("..//fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsansbold.woff2") format("woff2"),
        url("..//fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* ===========================Variables======================== */

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #020202;
    --basic-background: #F1F5F7;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --dark-green: #367315;

    --dark-grey: #293449;
    --dark-blue: #32425C;
    --headline-yellow: #F9F5F0;
    --pale-grey: #A9A9A9;
    --focus-blue: #161D29;
    --focus-grey: #C5C5C5;
    --focus-dark: #1D2739;
    --social-dark: #212A3A;
    --button-hover: #CA2C37;

    --border-grey: #EAEAEA;

    --background-grey: #F4F4F4;
    --white-pale-background: rgba(255, 255, 255, 0.3);
    --grey-light-hover: rgba(197, 197, 197, 0.3);
    --grey-light-focus:  rgba(169, 169, 169, 0.3);
    --focus-text: rgba(255, 255, 255, 0.5);
    --focus-green: #518534;

    --light-brown: #F7F3EC;
    --modal-background: #F1F1F1;

    --button-border: #E5E5E5;
    --button-border-hover: #C5C5C5;

    --filter-gray-active: #B5B5B5;

    --range-gray: #ABABAB;
    --range-shadow: #ABABAB;

    --logo-border-bottom: #B52933;
    --logo-border-bottom-active: #8D1E26;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

/* ===========================Global======================== */

body {
   min-width: 960px;
   padding: 0;
   margin: 0;

   font-family: "Cuprum", Arial, sans-serif;
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   color: var(--basic-black);
}

.page {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;

    background-color: var(--basic-red);

    cursor: default;
    border:none;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--error);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/* ===========================Header======================== */

.header {
    padding-bottom: 60px;

    font-size: 18px;

    background-color: var(--basic-background);
}

.header__checkout {
    color: var(--basic-white);

    background-color: var(--dark-grey);
}

.header__checkout-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    max-width: 940px;
    min-height: 42px;
    margin: 0 auto;
    padding: 0 10px;
    /* box-sizing: border-box; */
}

.header__checkout-wrapper p {
    margin: 0;
}

.header__logo-posion {
    position: relative;
    min-width: 220px;
    cursor: pointer;
}

.header__logo-wrapper {
    position: absolute;
    top: -21px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 42px;

    background-color: var(--basic-red);
    border-bottom: 5px solid var(--logo-border-bottom);
}

.header__logo-wrapper:active {
    background-color: var(--error);
    border-bottom: 5px solid var(--logo-border-bottom-active);
}

.header__logo {
    width: 118px;
    height: 18px;
}

.header__checkout a {
    color: var(--basic-white);
    text-decoration: none;
}

.header__form-search {
    position: relative;
    color: var(--basic-white);
}

.header__form-search input {
    position: relative;

    width: 271px;
    height: 42px;
    padding-left: 43px;

    background-color: var(--dark-grey);
    border: none;
    outline: none;
}

.header__form-search svg {
    position: absolute;
    top: 11px;
    left: 18px;
    fill: white;
    opacity: 0.3;
}

.search-input:focus + svg {
    opacity: 1;
    fill: red;
}

.header__form-search:hover svg {
    opacity: 1;
}

.search-input:focus {
    background-color: var(--basic-white);
    border: none;
}

.search-input::-ms-clear {
    display: none;

    width: 0;
    height: 0;
}

.search-input::placeholder {
    color: var(--basic-white);
}

.search-input::placeholder:focus {
    color: var(--basic-black);
}

.checkout-buttons {
    display: flex;
    align-items: center;
}

.logo-search {
    display: flex;
    align-items: center;
}

.header__bookmarks {
    position: relative;
}

.header__bookmarks a {
    display: inline-block;

    padding: 9px 27px 9px 40px;
}

.header__bookmarks-icon-wrap {
    position: absolute;
    top: 11px;
    left: 3px;
}

.header__bookmarks-link {
    position: relative;
}


.header__bookmarks-link::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 18px;

    width: 14px;
    height: 16px;

    background-image: url('../img/icons/bookmark.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
} 

.header__bookmarks-link:hover::before {
    opacity: 1;
}

.header__bookmarks-link:active::before {
    opacity: 0.5;
}

.header__bookmarks--bin a {
    position: relative;

    display: inline-block;

    padding: 9px 26px 9px 49px;
}

.header__bin-link::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 22px;

    width: 15px;
    height: 15px;
    background: url("../img/icons/cart.svg") no-repeat;
    background-position: 0 0;
    opacity: 0.3;

}

.header__bin-link:hover:before {
    opacity: 1;
}

.header__bin-link:active:before {
    opacity: 0.5;
}

.header__bookmarks a:active {
    color: var(--focus-text);

    background-color: var(--focus-blue);
}

.header__order a {
    display: inline-block;

    padding: 9px 16px 9px 19px;

    text-decoration: none;

    background-color: var(--basic-green);
}

.header__order a:hover {
    background-color: var(--success);
}

.header__order a:active {
    color: var(--focus-text);;
}

.header__registration {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 46px;
}

.header__registration p {
    /* margin: 0; */
    margin-bottom: 41px;
}

.header__subject {
    margin: 0;
    margin-right: 93px;

    padding-left: 32px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
    text-transform: none;
}

.header__contact-info {
    font-size: 14px;
    text-align: center;
    color: var(--dark-blue);
    text-transform: none;
}

.header__contact-info a,
.header__contact-info a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.header__tel {
    position: relative;

    display: inline-block;

    padding: 4px 44px 4px 70px;

    font-size: 21px;
    line-height: 31px;
    font-weight: 700;

    border: 3px solid var(--basic-white);
}

.header__tel::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 35px;

    width: 19px;
    height: 19px;

    background: url("../img/icons/phone.svg") no-repeat;
    background-position: 0 0;
}

.header__contact-info p {
    margin-top: 2px;
}

.header__sign {
    margin-left: auto;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
}

.header__sign p {
    margin: 0;
}

.header__sign a {
    color: var(--basic-black);
    text-decoration: none;
}

.header__sign a:hover {
    color: var(--basic-red);
}

.header__sign a:active {
    color: var(--focus-grey);
}

.header__login {
    max-width: 300px;
}

.header__login a {
    display: inline-block;
    background-color: var(--basic-white);
}

.header__login-account {
    position: relative;

    display: inline-block;

    margin-bottom: 7px;
    padding: 12px 56px;

    text-decoration: none;
    background-color: var(--basic-white);
}

.user-icon-svg {
    position: absolute;
    top: 13px;
    left: 13px;

    fill: var(--focus-grey);
}

.logout-icon-svg {
    position: absolute;
    top: 14px;
    right: 17px;

    fill: var(--focus-grey);
}

.header__login-account:hover .user-icon-svg,
.header__login-account:hover .logout-icon-svg {
    fill: var(--basic-grey);
}

.header__login-account:active .user-icon-svg,
.header__login-account:active .logout-icon-svg {
    fill: var(--focus-grey);
}

/* .header__login-account::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;

    width: 21px;
    height: 18px;

    background: url("../img/icons/user.svg") no-repeat;
    background-position: 0 0;
    opacity: 0.3;

}

.header__login-account::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 16px;

    width: 20px;
    height: 17px;

    background: url("../img/icons/logout.svg") no-repeat;
    background-position: 0 0;
    opacity: 0.3;
} */

.header__login-enter {
    position: relative;
    /* margin-right: 10px; */
    padding: 12px 31px 12px 46px;
}

.header__login-enter svg {
    position: absolute;
    top: 13px;
    left: 19px;

    fill: var(--focus-grey);
}

.header__login-enter:hover svg {
    fill: var(--basic-grey);
}

.header__login-enter:active svg {
    fill: var(--focus-grey);
}

/* .header__login-enter::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 19px;

    width: 21px;
    height: 17px;

    background: url("../img/icons/login.svg") no-repeat;
    background-position: 0 0;
    opacity: 0.3;
} */


.header__login-register {
    padding: 12px 24px;
}

.header__account-nav {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-top: 7px
}

.header__account-nav a {
    position: relative;
    display: inline-block;

    margin-right: 12px;
    padding-right: 20px;

    font-size: 16px;
    line-height: 18px;
    color: var(--dark-blue);
    text-decoration: none;

    background-color: none;
}

.header__account-nav a:last-child {
    margin-right: 0;
    padding-right: 0;
}

.header__account-nav a:first-child:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 1px;

    width: 4px;
    height: 4px;

    background-color: var(--dark-blue);
    border-radius: 50%;
}

.header__sign-button {
    background: var(--basic-white)
}

.header__nav {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;

    padding: 0px 25px;
    margin: 0;
    box-sizing: border-box;

    color: var(--basic-white);

    list-style: none;
    background-color: var(--dark-blue);
    border-bottom: 5px solid var(--dark-grey);
}

.site-navigation a {
    display: block;

    padding: 16px 28px;

    color: var(--basic-white);
    text-decoration: none;
}

.site-navigation a:hover {
    background-color: var(--dark-grey);
}

.site-navigation a:focus {
    background-color: var(--focus-dark);
    opacity: 0.5;
}

/* ---------------------------index.html---------------------- */

/* ===========================Features======================== */

.main-page {
    padding-top: 58px;
    padding-bottom: 10px;
}

.features {
    margin-bottom: 59px;

    color: var(--basic-white);
}

.features__list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;

    padding: 0;
    margin: 0;

    list-style: none;
}

.features__item {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 300px;
    min-height: 123px;

    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 27px;

    overflow: hidden;

    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 43px 21px 23px;*/
}

.features-image-block {
    grid-column: 1/3;
    grid-row: 2/4;

    width: 620px;
    height: 266px;
    padding: 0;
}

.feature__slider {
    width: inherit;
    height: inherit;
}

.slider-list {
    padding: 0;
    list-style: none;
}

.slider-list__item {
    display: none;
}

.slider-list__item--current {
    display: block;
}

.features__item h3 {
    align-self: center;

    margin: 0;
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.features__item p {
    margin: 0;
}

.features__logo {
    order: 2;
    grid-row: 1/3;
    align-self: center;

    padding-top: 5px;

    text-align: center;
}

.features__item--yellow {
    background-color: var(--special-ylellow);
}

.features__item--blue {
    background-color: var(--special-blue);
}

.features__item--lilac {
    background-color: var(--special-lilac);
}

.features__item--greenlight {
    background-color: var(--special-greenlight);
}

.features__button {
    grid-row: 2/3;
    align-self: center;
}

.features__button a {
    display: inline-block;
    
    /* display: flex;
    justify-content: center;
    align-items: center;

    width: 135px;
    height: 38px; */

    padding: 10px 26px;

    color: var(--basic-white);
    text-decoration: none;

    background-color: var(--white-pale-background);
}

.features__button a:hover {
    background-color: var(--grey-light-hover);
}

.features__button a:active {
    background-color:var(--grey-light-focus);
}

.features__link {
    text-transform: uppercase;
}

.features__title {
    position: relative;
   
}

.features__title img {
    position: absolute;
    z-index: 0;

    width: 620px;
    height: 266px;
}

.features__title h3 {
    position: absolute;
    top: 24px;
    left: 25px;
    z-index: 1;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.features__title p {
    font-size: 18px;
    line-height: 24px;
}

.features__subtitle {
    position: absolute;
    top: 66px;
    left: 25px;
    z-index: 1;
}

.feature__sllider-btn {
    content: "";
    position: absolute;
    top: 122px;
    left: 24px;

    width: 30px;
    height: 47px;

    background: url(../img/icons/left.svg) no-repeat;
    background-position: 0 0;

    border: none;
    cursor: pointer;
}

.feature__sllider-btn--right {
    top: 117px;
    left: 571px;

    transform: rotate(180deg);
}

.slider-btn-wrap {
    position: absolute;
    top: 202px;
    left: 25px;
    z-index: 1;
}

.slider-btn-wrap a {
    display: inline-block;

    padding: 11px 46px 9px 46px;

    text-decoration: none;
    text-transform: uppercase;

    background-color: var(--basic-red);
}

/* ===========================Goods======================== */

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    padding: 25px 14px 26px 28px;
    margin-bottom: 20px;
    box-sizing: border-box;

    background-color: var(--headline-yellow);
}

.section__header h3 {
    margin: 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.section__header p {
    margin: 0;
    padding: 0;
}

.section__header-button a {
    display: inline-block; 

    padding: 11px 24px 9px 24px;

    text-decoration: none;
    text-align: center; 
}

.goods__list {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;

    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    list-style: none;
}

.catalog-card {
    position: relative;

    min-height: 318px;
    padding-bottom: 19px;
    margin-bottom: -2px;
    box-sizing: border-box;

    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;

    border: 1px solid var(--border-grey);
    overflow: hidden;
}

.catalog-card:nth-child(3n) {
    margin-right: 0;
}

.catalog-card__link {
    display: block;
    text-decoration-color:var(--basic-black);
}

.catalog-card__link h4 {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 9.86px;

    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}


.catalog-card__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 184px;
    height: 164px;
    margin: 0 auto;
}

.catalog-card__old-price {
    margin: 0;
    margin-bottom: 12px;

    font-size: 17px;
    line-height: 18px;
    color: var(--pale-grey);
    text-decoration: line-through;
}

.old-price-none {
    margin-bottom: 39px;
}

.catalog-card__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 122px;
    height: 38px;
    margin-left: 43px;

    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    text-decoration: none;

    background-color: var(--basic-red);
    border-radius: 3px 0px 0px 3px;
}

.catalog-card__button::after {
    content: "";

    position: absolute;
    top: 0px;
    right: -38px;
    z-index: -1;

    border: 19px solid transparent;
    border-left: 19px solid var(--basic-red);

    /* content: "";
    position: absolute;
    top: 6px;
    right: -12px;
    z-index: -1;

    width: 26px;
    height: 26px;

    transform: rotate(45deg);

    background: var(--basic-red); */

}

/* ===========================Producers======================== */

.producers__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(2, 145px);

    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    list-style: none;
}

.producers__item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--border-grey);
}

.producers__item a:active {
    opacity: 0.5;
}

.producers__item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* ===========================Services======================== */

.services {
    padding: 65px 0px 99px 0px;
    margin-bottom: 68px;

    text-transform: none;

    background-color: var(--basic-background);

    /* display: grid;
    grid-template-columns: 394px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

.services p, h3 {
    margin: 0;
}

.services__header {
    max-width: 394px;
    margin-bottom: 67px;
}

.services__header h3 {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services__header p {
    font-family: "PT Sans", Arial, sans-serif;
}

.services__content {
    display: grid;
    grid-template-columns: 240px 699px;
    /* grid-template-rows: 1fr 250px; */
}

.services__options-nav {
    position: relative;

    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    
    box-sizing: border-box;
    max-width: 240px;
    min-height: 185px;

    background-color: var(--dark-blue);
}

.services__options-nav::after {
    content: "";
    position: absolute;

    top: -45px;
    right: 0;

    width: 10px;
    height: 279px;

    background: url("../img/line.png") no-repeat;
    background-position: 0 0; 
}


.services__options-nav a {
    /* height: 61px; */

    color: var(--basic-white);
    text-decoration: none;
}

.services__options-nav a.current {
    color: var(--dark-blue);

    background-color: var(--basic-white);
}

.services__options-nav a:hover {
    background-color: var(--dark-grey);
}

.services__options-item {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    padding: 15px 0px 17.5px 22px;

    border-top: 1px solid ;
}

.services__option {
    position: relative;

    display: none;
    grid-row: 2/3;
    grid-column: 2/3;

    padding-left: 80px;
}

.services__option--current {
    display: block;
}

.services__img-wrap {
    position: absolute;
    top: 22px;
    right: 0;
}

.services__img-delivery {
    width: 468px;
    height: 261px;
}

.services__img-guarantee {
    width: 389px;
    height: 283px;
}

.services__img-credit {
    width: 465px;
    height: 285px;
}



.services__option h3 {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    
    color: var(--dark-blue);
}

/* .services__option-text {
    z-index: 1;
} */

.services__option-text p {
    max-width: 300px;
}

.services__option p {
    font-family: "PT Sans", Arial, sans-serif;
}

/* ===========================Company======================== */

.company__container {
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
}

.company h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.company__info {
    max-width: 460px;
}

.company__info p, h3 {
    margin: 0;
}

.company__info h3 {
    margin-bottom: 24px;
}

.company__info a {
    display: inline-block;

    padding: 11px 49.29px 9px 39.71px;

    text-decoration: none;
}

.company__info-text p {
    margin-bottom: 26px;
}

.company__info-text p:last-child {
    margin-bottom: 0;
    max-width: 385px;
}

.company__list {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 18px;
    line-height: 24px;
}

.company__list li {
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
}

.company__list li:last-child {
    margin-bottom: 20px;
}

.company__list li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.company__contacts a {
    display: inline-block;

    padding: 11px 61.12px 9px 61.88px;

    text-decoration: none;
}

.company__contacts h3 {
    margin: 0;
}

.company__contacts h3 {
    margin-bottom: 24px;
}

.company__contacts-text {
    margin: 0;
    margin-bottom: 32px;
    max-width: 180px;
}

.company__map {
    margin: 0;
    margin-bottom: 18px;
}

.company__map a {
    padding: 0;
}

.company__button {
    margin: 0;
}

/* .company__button a {
    text-decoration: none;
    padding: 11px 61.12px 9px 61.88px;
} */

.company__map img {
    width: 300px;
    height: 158px;
}

.company__form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 73px auto 112px;

    height: 100%;
    padding-top: 39px;
    box-sizing: border-box;

    border-top: 7px solid var(--basic-red);
}

.company__form fieldset {
    margin: 0;
}
 
.form-name {
    padding: 0 0 0 80px;
}

.form-email {
    padding: 0 80px 0 10px;
}

.company__form-item {
    border: none;
    margin: 0;
}

.company__form-label {
    font-size: 18px;
}

.company__modal {
    position: fixed;
    top: 300px;
    right: 44px;
    bottom: 0;
    left: 30px;
    margin: 0 auto;
}

.company__pop-up {
    display: none;

    max-height: 430px;
    max-width: 620px;
    box-sizing: border-box;

    background-color: var(--basic-white);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
}

.company__modal input {
    max-width: 220px;
    width: 100%;
    min-height: 38px;
    margin-top: 11px;
    padding-left: 9px;

    box-sizing: border-box;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);

    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.company__modal textarea {
    max-width: 460px;
    width: 100%;
    min-height: 114px;
    margin-top: 8px;
    padding-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);

    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.textarea {
    grid-column: 1/3;
    padding: 16px 80px 0px 80px;
}

.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;

    background-color: var(--background-grey);  
}

.button-modal {
    padding: 11px 199.79px 11px 198.21px;
}

.company__close-btn {
    content: "";
    position: absolute;
    top: 14px;
    right: 12px;

    width: 21px;
    height: 21px;

    background: url("../img/icons/close.svg") no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
}


/* ===========================Footer======================== */

.footer {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;

    background-color: var(--dark-blue);
}

.footer__navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 54px;
}

.footer__logo {
    margin: 0;
    margin-bottom: 15px;
}

.footer__address-text {
    margin: 0;
    padding-left: 4px;
}

.footer__nav {
    padding-top: 18px;
}

.footer__navigation-container a {
    color: var(--basic-white);
    text-decoration: none;
}

.nav-list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    width: 546px;
    margin-bottom: 34px;
    list-style: none;
}

.nav-list__item {
    margin-right: 58px;
}

.nav-list__item:last-of-type {
    margin-right: 0;
}

.nav-list--colored {
    margin: 0;
}

.nav-list--colored li:first-child {
    margin-left: 22px;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list a:active {
    opacity: 0.5;
    text-decoration: none;
}

.nav-list--colored a {
    color: var(--special-yellowlight);
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    /* justify-content: space-evenly; */
    
    padding: 0;
    padding-top: 3px;
    margin: 0;
    min-width: 134px;
    list-style: none;
}

.footer__social-list li {
    margin-right: 1px;
}

.footer__social-list li:last-child {
    margin-right: 0px;
}

.footer__social-item a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    text-decoration: none;

    background-color: var(--social-dark);
    border-radius: 50%;
}

.footer__social-item a:hover {
    background-color: var(--basic-red);
}

.footer__social-item a:active{
    background-color: var(--basic-red);
}

.footer__feedback {
    background-color: var(--dark-grey);
}

.footer__feedback-flex {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;

    min-height: 107px;
}

.footer__feedback p {
    padding-left: 3px;

    font-size: 16px;
    line-height: 18px;
}

.footer__copyright {
    padding-top: 3px;
    margin-right: 157px;
}

.footer__feedback a {
    color: var(--special-yellowlight);
    text-decoration: none;
}

.footer__feedback a:hover {
    text-decoration: underline;
}

.footer__feedback a:active {
    color: var(--basic-red);
}

.footer__social {
    margin-right: 115px;
}

.footer__contacts {
    display: flex;
    /* justify-content: space-between;

    min-width: 286px; */
}

.footer__contacts p {
    margin: 0;
    margin-right: 47px;
}

.footer__contacts p:last-of-type {
    margin-right: 0;
}

/* ---------------------------catalog.html---------------------- */

.page-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
}

/* ===========================Breadcrumbs======================== */

.breadcrumbs {
    grid-column: 1/-1;

    margin-bottom: 16px;
}

.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    padding: 0;
    margin: 0;
    padding-top: 18px;

    list-style: none;
}

.breadcrumbs__item:first-child {
    max-width: 37px;
    margin-right: 18px;
}


.breadcrumbs__item:last-of-type {
    margin-right: 0;
}

.breadcrumbs__item a {
    display: inline-block;
    position: relative;

    margin-right: 15px;
    padding-right: 25px;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    text-decoration: none;
}


.breadcrumbs__item a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 8px;
    height: 12px;

    background: url("../img/icons/right-small.svg") no-repeat;
    background-position: 0 0;
} 




/* ===========================Title======================== */

.title {
    display: flex;
    align-items: center;
    grid-column: 1/-1;

    min-height: 89px;
    padding-left: 29px;
    margin-bottom: 21px;

    background-color: var(--basic-background);
}

.title h2 {
    padding: 0;
    margin: 0;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

/* ===========================Form-filter======================== */

.filter {
    grid-column: 1/2;
}

.filter__form {
    box-sizing: border-box;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.filter__form fieldset {
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    margin-bottom: 17px;

    border: none;
    border-bottom: 1px solid var(--button-border);
}

.filter__form fieldset:nth-child(3) {
    margin-bottom: 20px;
}

.filter__form fieldset:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.filter__form p {
    margin: 0;
    margin-bottom: 14.15px;
    padding: 10px 0px 10px 18px;

    font-size: 13px;
    line-height: 18px;

    background-color: var(--light-brown);
    border-radius: 2px;
}

.filter__form legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter__form label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none; 
}



/* .filter__input-checkbox:hover + label,
.filter__input-checkbox:focus + label {
    color: var(--filter-gray-active);
} */



.filter__input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -4px;
    left: -35px;

    width: 20px;
    height: 20px;

    border: 2px solid var(--button-border-hover);
    border-radius: 4px;
}

.filter__input-checkbox:hover + label::before {
    border: 2px solid var(--filter-gray-active);
}

.filter__input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -32px;

    width: 22px;
    height: 18px;
    
    background: url("../img/icons/checkbox.svg") no-repeat;
    background-position: 0 0;
}

.filter__input-checkbox:checked:hover + label::after {
    background: url("../img/icons/checkbox-hover.svg") no-repeat;
}


.filter__input-radio + label::before {
    content: "";

    position: absolute;
    top: -4px;
    left: -36px;

    width: 18px;
    height: 18px;

    border: 4px solid var(--button-border-hover);
    border-radius: 50%;
}

.filter__input-radio:hover + label::before {
    border: 4px solid var(--filter-gray-active);
}

.filter__input-radio:checked + label::after {
    content: "";

    position: absolute;

    top: 4px;
    left: -28px;

    width: 10px;
    height: 10px;
    
    background-color: var(--button-border-hover);
    border-radius: 50%;
}

.filter__input-radio:checked:hover + label::after {
    background-color: var(--filter-gray-active);
}


.filter__input-price {
    margin: 0;
    padding: 0;

    border: none;
}

.range__filter {
    width: 220px;
}

.range__controls {
    position: relative;

    height: 41px;

    margin-bottom: 10px;
    padding-top: 38px;
    padding-right: 20px;
    padding-left: 20px;  

    background-color: var(--light-brown);
    border-radius: 2px;
}

.range__controls .scale {
    height: 2px;

    background-color: var(--focus-grey);
}

.range__controls .bar {
    width: 70%;

    height: 2px;

    background-color: var(--basic-green);
}

.range__controls .toggle {
    position: absolute;
    top: 28px;
    left: 0;

    width: 4px;
    height: 4px;

    padding: 0;

    background-color: var(--range-gray);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--range-shadow);
    cursor: pointer;

}
.range__controls .toggle-min {
    left: 18px;
}
.range__controls .toggle-max {
    left: 136px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-control__dash {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 18px;
}

.price-controls input {
    width: 95px;
    padding: 10px;
    box-sizing: border-box;
}

.max-price {
}

.filter__input-price legend {
    margin-bottom: 9.85px;
}


.filter__input-price input {
    position: relative;

    font-size: 17px;
    line-height: 18px;
    text-align: center;

    background-color: var(--light-brown);
    outline: none;
    border: none;
    border-radius: 3px;
}

/* .filter__range {
    width: 180px;
    height: 2px;
    margin-bottom: 10px;

    background-color: var(--light-brown);
}

.filter__price {
    width: 95px;
    height: 38px;
    padding: 0;
    margin-bottom: 25px;
} */

.filter__legend-producers {
    margin-bottom: 17.5px;
}

.filter__legend-power {
    margin-bottom: 23.35px;
}

.filter__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter__option {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter__option:last-child {
    margin-bottom: 0;
}

.filter__option label {
    font-size: 15px;
    line-height: 19px;
}

.filter-radio {
    margin-bottom: 22.5px;
}

.filter-radio:last-child {
    margin-bottom: 37.15px;
}

.filter__button {
    /* width: 220px;
    height: 38px; */

    padding: 11px 78px;

    text-transform: uppercase;

    background-color: var(--basic-white);
    border: 1px solid var(--button-border);
    cursor: pointer;
}


/* ===========================Sorting======================== */

.sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-height: 38px;
    padding-left: 19px;
    padding-right: 17px;
    margin-bottom: 28px;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;

    background-color: var(--light-brown);
    border-radius: 2px;
}

.sorting p {
    margin: 0;
}

/* .sorting__filters {
    width: 443px;
} */

.sorting__list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    max-width: 443px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting__list li:first-child {
    margin-right: 70px;
}

.sorting__list li:nth-child(2) {
    margin-right: 65px;
}

.sorting__list li:nth-child(3) {
    margin-right: 46px;
}

.sorting__item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sorting__item a {
    color: var(--basic-black);
    
    text-transform: uppercase;
    text-decoration: none;

    border-bottom: 1px dotted var(--basic-red);
    opacity: 0.3;
}

.sorting__item a:hover {
    border-bottom: 1px solid var(--basic-red);
    opacity: 1;
}

/* Не знаю что лучше поставить для этого элемента :active или :focus */
.sorting__item a:active {
    color: var(--basic-red);

    opacity: 1;
    border: none;
}

.sorting__button-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 43px;
}

.sorting__button {
    position: relative;
    background-color: inherit;
    border: none;
    padding: 0;
}

.sorting__triangle {
    position: absolute;
    top: 12px;
    left: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--focus-grey);
}

.sorting__triangle--down {
    position: absolute;
    top: 12px;
    left: -11px;

    transform: rotate(180deg);
}

.sorting__button:hover .sorting__triangle {
    border-bottom: 10px solid var(--basic-black);
}

.sorting__button:focus .sorting__triangle {
    border-bottom: 10px solid var(--basic-red);
}

/* .sorting__button:hover svg {
    fill: red;
}


.sorting__button-form {
    fill: var(--focus-grey);
}

/* .sorting__button-form:hover {
    fill: var(--basic-black);
} */

.sorting__button-form:focus {
    fill: var(--basic-red);
}

.sorting__button-form--up {
    fill: var(--focus-grey);
    transform: rotate(180deg);
} 


/* ===========================Catalog======================== */

.catalog {
    grid-column: 2/-1;

    padding-left: 20px;
}

.catalog__list {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;

    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    list-style: none;
}

.catalog-card__buy {
    font-family: "Cuprum", Arial, sans-serif;
}

.catalog-card__buy--hidden {
    display: none;
    margin-top: 35px;
    margin-bottom: 55px;
}

.catalog-card__buy-btn {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
}

.catalog-card__buy-btn a {
    /* display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    height: 35px; */
    position: relative;

    display: inline-block;

    padding: 8px 40px 4px 54px;

    font-size: 14px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-decoration: none;

    background-color: var(--basic-green);
    border-radius: 2px;
    border-bottom: 3px solid var(--dark-green);
}

.catalog-card__buy-btn a:hover {
    background-color: var(--success);
}

.catalog-card__buy-btn a:active {
    background-color: var(--focus-green);
}

.buy-btn-svg {
    position: absolute;
    top: 12px;
    left: 31px;

    fill: var(--basic-white);
    opacity: 0.3;
}

.catalog-card__bookmark-btn {
    display: flex;
    justify-content: center;

    margin: 0;
}

.catalog-card__bookmark-btn a {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 135px; */

    padding: 5px 31px 2px 30px;

    font-size: 14px;
    color: var(--dark-blue);
    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid var(--basic-green);
    border-radius: 2px;
}

.catalog-card__bookmark-btn a:hover {
    border: 3px solid var(--dark-blue);
}

.catalog-card__bookmark-btn a:active {
    opacity: 0.5;
}

.catalog__modal {
    position: fixed;
    top: 254px;
    right: 0px;
    bottom: 0;
    left: 31px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 163px 112px;
    align-items: center;

    max-width: 620px;
    max-height: 279px;
    box-sizing: border-box;

    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
}

.catalog__modal--pop-up {
    display: none; 
}

.catalog__tick-wrap {
    padding-right: 3px;

    text-align: right;
}

.catalog__modal h4 {
    padding-left: 26px;

    text-align: left;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.catalog__checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column: 1/-1;

    height: 112px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: var(--modal-background);
}

.catalog__checkout-btn a {
    padding: 11px 46px 9px 47px;

    color: var(--basic-white);
    text-decoration: none;

    background-color: var(--basic-red);
}

.catalog__continue-btn a {
    padding: 11px 31px 9px 32px;

    color: var(--basic-black);
    text-decoration: none;

    background-color: var(--basic-white);
}

.catalog__modal-close {
    content: "";
    position: absolute;
    top: 11px;
    right: 12px;

    width: 21px;
    height: 21px;

    background: url("../img/icons/close.svg") no-repeat;
    background-position: 0 0;
    border: none;
}

.pagination-list {
    display: flex;
    gap: 10px;

    padding: 0;
    margin: 0;
    margin-bottom: 59px;
    list-style: none;
}

.pagination-list__item a {  
    display: block;

    padding: 10px 15px 10px 15px;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    line-height: 18px;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
    text-decoration: none;

    border: 1px solid var(--button-border);
    border-radius: 2px;
}

.pagination-list__item {

}

.pagination-list__item a:hover {    
    border: 1px solid var(--button-border-hover);
}

.pagination-list__item a:focus {
    color: var(--basic-white);

    background-color: var(--basic-red);
    border: 1px solid var(--basic-red);
}

.pagination-list__item a:active {
    border: 1px solid var(--basic-red);
}

.pagination-list__item--next a {
    padding: 10px 32px 10px 32px;
}


/* ===========================About======================== */

.about {
    grid-column: 1/-1;
    padding: 64px 0px 68px;

    background-color: var(--basic-background);
}

.about h2 {
    margin: 0;
    margin-bottom: 26px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p {
    margin: 0;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

/* =================================================== */

.new-mark {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 30px;

    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-white);

    background-color: var(--basic-red);

    transform: rotate(45deg)
}

.new-mark--features {
    top: 9px;
    right: -24px;
}

.new-mark--catalog-card {
    top: -5px;
    right: -25px;
}

/* ==========================Modal========================= */

.modal-map {
    position: fixed;
    top: 300px;
    right: 44px;
    bottom: 0;
    left: 30px;
    margin: 0 auto;
}

.map__pop-up {
    display: none;

    max-width: 943px;
    width: 100%;
    max-height: 442px;

    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
}

.modal-map iframe {
    border: none;
}

.modal__map-close {
    content: "";
    position: absolute;
    top: 10px;
    right: 11px;
    
    width: 21px;
    height: 21px;
    
    background: url("../img/icons/close.svg") no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;    
}


