
/* ========================Fonts=============================== */

@font-face {
    font-family: "Cuprum";
    src:
        url("..//fonts/cuprum.woff2") format("woff2"),
        url("..//fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbold.woff2") format("woff2"),
        url("..//fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumbolditalic.woff2") format("woff2"),
        url("..//fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: 
        url("..//fonts/cuprumitalic.woff2") format("woff2"),
        url("..//fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsans.woff2") format("woff2"),
        url("..//fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: 
        url("..//fonts/ptsansbold.woff2") format("woff2"),
        url("..//fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* ===========================Variables======================== */

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #020202;
    --basic-background: #F1F5F7;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --dark-green: #367315;

    --dark-grey: #293449;
    --dark-blue: #32425C;
    --headline-yellow: #F9F5F0;
    --pale-grey: #A9A9A9;
    --focus-blue: #161D29;
    --focus-grey: #C5C5C5;
    --focus-dark: #1D2739;
    --social-dark: #212A3A;
    --button-hover: #CA2C37;

    --border-grey: #EAEAEA;

    --background-grey: #F4F4F4;
    --white-pale-background: rgba(255, 255, 255, 0.3);
    --grey-light-hover: rgba(197, 197, 197, 0.3);
    --grey-light-focus:  rgba(169, 169, 169, 0.3);
    --focus-text: rgba(255, 255, 255, 0.5);
    --focus-green: #518534;

    --light-brown: #F7F3EC;
    --modal-background: #F1F1F1;

    --button-border: #E5E5E5;
    --button-border-hover: #C5C5C5;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

/* ===========================Global======================== */

body {
   min-width: 960px;
   padding: 0;
   margin: 0;

   font-family: "Cuprum", Arial, sans-serif;
   font-size: 13px;
   line-height: 24px;
   font-weight: 400;
   color: var(--basic-black);
}

a, a:hover, a:focus {
    /* cursor: default; */
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.headline {
    display: none;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    cursor: default;
    text-transform: uppercase;
    border:none;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:focus {
    background-color: var(--error);
}

.title {
    background-color: var(--basic-background);
}

.title h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--dark-blue);
    text-transform: uppercase;
}


/* ===========================Header======================== */

.header {
    font-size: 18px;
    background-color: var(--basic-background);
}

.header__checkout {
    color: var(--basic-white);
    background-color: var(--dark-grey);
}

.header__checkout a {
    color: var(--basic-white);
}

.header__form-search {
    color: var(--basic-white);
}

.header__form-search input {
    outline: none;
}

.search-input {
    background-color: var(--dark-grey);
    border: none;
}

.search-input:focus {
    background-color: var(--basic-white);
    border: none;
}

.search-input::-ms-clear {
    width: 0;
    height: 0;
    display: none;
}

.search-input::placeholder {
    color: var(--basic-white);
}

.search-input::placeholder:focus {
    color: var(--basic-black);
}

.header__bookmarks a:focus {
    color: var(--focus-text);
    background-color: var(--focus-blue);
}

.header__order a {
    background-color: var(--basic-green);
}

.header__order a:hover {
    background-color: var(--success);
}

.header__order a:focus {
    color: var(--focus-text);;
}

.header__subject {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-transform: none;
    color: var(--basic-red);
}
.header__contact-info {
    font-size: 14px;
    text-align: center;
    text-transform: none;
    color: var(--dark-blue);
}

.header__contact-info a,
.header__contact-info a:focus {
    color: var(--basic-red);
}

.header__tel {
    font-size: 21px;
    line-height: 31px;
    font-weight: 700;
    border: 3px solid var(--basic-white);
}

.header__sign {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
}

.header__sign a {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.header__sign a:hover {
    color: var(--basic-red);
}

.header__sign a:focus {
    color: var(--focus-grey);
}

.header__login a {
    background-color: var(--basic-white);
}

.header__account-nav a {
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-blue);
}

.header__sign-button {
    background: var(--basic-white)
}

.site-navigation {
    list-style: none;
    background-color: var(--dark-blue);
    color: var(--basic-white);
    border-bottom: 5px solid var(--dark-grey);
}

.site-navigation a {
    color: var(--basic-white);
}

.site-navigation a:hover {
    background-color: var(--dark-grey);
}

.site-navigation a:focus {
    background-color: var(--focus-dark);
    opacity: 0.5;
}

/* ---------------------------index.html---------------------- */

/* ===========================Features======================== */

.features {
    color: var(--basic-white);
}

.features__list {
    list-style: none;
}

.features__item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.features__item_yellow {
    background-color: var(--special-ylellow);
}

.features__item_blue {
    background-color: var(--special-blue);
}

.features__item_lilac {
    background-color: var(--special-lilac);
}

.features__item_greenlight {
    background-color: var(--special-greenlight);
}

.features__button a {
    padding: inherit;
    color: var(--basic-white);
    background-color: var(--white-pale-background);
}

.features__button a:hover {
    background-color: var(--grey-light-hover);
}

.features__button a:focus {
    background-color:var(--grey-light-focus);
}

.features__link {
    text-transform: uppercase;
}

.features__title h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.features__title p {
    font-size: 18px;
    line-height: 24px;
}


/* ===========================Goods======================== */

.section__header {
    background-color: var(--headline-yellow);
}

.section__header h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.goods__list {
    list-style: none;
}

.item {
    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid var(--border-grey);
}

.item__link h4 {
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.item__old-price {
    font-size: 17px;
    line-height: 18px;
    color: var(--pale-grey);

    text-decoration: line-through;
}

.item__button a {
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}


/* ===========================Producers======================== */

.producers__list {
    list-style: none;
}

.producers__item {
    border: 1px solid var(--border-grey);
}


/* ===========================Services======================== */

.services {
    text-transform: none;
    background-color: var(--basic-background);
}

.services__text h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.services__text p {
    font-family: "PT Sans", Arial, sans-serif;
}

.services__options-nav {
    background-color: var(--dark-blue);
}

.services__options-nav a {
    color: var(--basic-white);
}

.services__options-nav a:hover {
    background-color: var(--dark-grey);
}

.services__options-item {
    font-size: 21px;
    font-family: 30px;
    font-weight: 700;
    border-top: 1px solid ;
}

.services__option h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    color: var(--dark-blue);
}

.services__option p {
    font-family: "PT Sans", Arial, sans-serif;
}

/* ===========================Company======================== */

.company {
    text-transform: none;
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
}

.company h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.company__list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}

.company__form {
    border-top: 7px solid var(--basic-red);
}

.company__form-item {
    border: none;
}

.company__form-label {
    font-size: 18px;
}

.company__modal input {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);
    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.company__modal textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--pale-grey);
    border: 2px solid var(--focus-grey);
    outline: none;
    -moz-appearance: none;
}

.button-area {
    background-color: var(--background-grey);
}


/* ===========================Footer======================== */

.footer {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.footer__navigation {
    background-color: var(--dark-blue);
}

.footer__navigation a {
    color: var(--basic-white);
}

.nav-list {
    list-style: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list a:focus {
    opacity: 0.5;
}

.nav-list_colored a {
    color: var(--special-yellowlight);
}

.footer__social-list {
    list-style: none;
}

.footer__social-item a {
    background-color: var(--social-dark);
    border-radius: 50%;
}

.footer__social-item a:hover {
    background-color: var(--basic-red);
}

.footer__social-item a:focus {
    background-color: var(--basic-red);
}

.footer__feedback {
    background-color: var(--dark-grey);
}

.footer__feedback p {
    font-size: 16px;
    line-height: 18px;
}

.footer__feedback a {
    color: var(--special-yellowlight)
}

.footer__feedback a:hover {
    text-decoration: underline;
}

.footer__feedback a:focus {
    color: var(--basic-red);
}

/* ---------------------------catalog.html---------------------- */

/* ===========================Breadcrumbs======================== */

.breadcrumbs__list {
    list-style: none;
}

.breadcrumbs__item a {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
}

/* ===========================Form-filter======================== */

.filter__form {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.filter__form p {
    font-size: 13px;
    line-height: 18px;
    background-color: var(--light-brown);
}

.filter__form legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter__input-price {
    font-size: 17px;
    font-weight: 18px;
    
}

/* не смог задать background-color для range полоски, пока оставил как есть */

.filter__input-price input {
    font-size: 17px;
    line-height: 18px;
    background-color: var(--light-brown);
    text-align: center;
    outline: none;
    border: none;
}

.filter__list {
    list-style: none;

}

.filter__option label {
    font-size: 15px;
    line-height: 19px;
}

.filter__button {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--button-border);
}

/* ===========================Sorting======================== */

.sorting {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--light-brown);
}

.sorting__list {
    list-style: none;
}

.sorting__item a {
    color: var(--basic-black);
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting__item a:hover {
    border-bottom: 1px solid var(--basic-red);
    opacity: 1;
}

/* Не знаю что лучше поставить для этого элемента :active или :focus */
.sorting__item a:focus {
    color: var(--basic-red);
    opacity: 1;
    border: none;
}


/* ===========================Catalog======================== */

.catalog__list {
    list-style: none;
}

.item__buy {
    font-family: "Cuprum", Arial, sans-serif;
}

.item__buy-btn a {
    font-size: 14px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    border-radius: 2px;
    border-bottom: 3px solid var(--dark-green);
    text-transform: uppercase;
}

.item__buy-btn a:hover {
    background-color: var(--success);
}

.item__buy-btn a:focus {
    background-color: var(--focus-green);
}

.item__bookmark-btn a {
    font-size: 14px;
    color: var(--dark-blue);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;

}

.item__bookmark-btn a:hover {
    border: 3px solid var(--dark-blue);
}

.item__bookmark-btn a:focus {
    opacity: 0.5;
}

.item__modal {
    border-top: 7px solid var(--basic-red);
}

.item__modal h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.item__checkout {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--modal-background);
    text-transform: uppercase;
}
.item__checkout-btn a {
    color: var(--basic-white);
    background-color: var(--basic-red);
}
.item__continue-btn a {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page-list {
    list-style: none;
}
.page-item a {  
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    line-height: 18px;
    border-radius: 2px;
    color: var(--basic-black);
    border: 1px solid var(--button-border);
    text-transform: uppercase;
}

.page-item a:hover {    
    border: 1px solid var(--button-border-hover);
}

.page-item a:focus {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 1px solid var(--basic-red);
}

.page-item a:active {
    border: 1px solid var(--basic-red);
}


/* ===========================About======================== */

.about {
    background-color: var(--basic-background);
}

.about h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about p {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

